html, body{
    height: 100%;
    padding;10px;
}

.banner-container img {
  width: 100%;        /* full width of the container */
  height: auto;       /* keeps aspect ratio */
  max-height: 300px;  /* limits height to 300px */
  object-fit: cover;  /* crops the image if needed to fill the space */
  display: block;     /* removes unwanted bottom space */
}
